html{
    font-size:16px;
    font-family:sans-serif;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
li{
    list-style: none;
}
.library{
    display:flex;
    border:1px solid;
    width:70vw;
    margin:auto;
    gap:2rem;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:2rem;
}
li.book{
    padding:1rem;
    border:1px solid;
    width:20rem;
    height:300px;
}
li.book h3{
    font-size:1.5rem;
} 
li.book p{
    font-size:1rem;
    color:grey;
}
form{
    width:50vw;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:1;
    background-color:grey;
    padding:2rem;
    display:none;
}
form h2{
    text-align:center;
}
form label{
    display:block;
    font-size:1.3rem;
}
form input{
    width:100%;
    font-size:1.2rem;
}